<div class="db_problem_card_foreach">
  <div class="todo__wrapper">
    <div class="db_problem_card_check">
      <a href="#" class="checklink w-inline-block">
        <div class="html-embed-13 w-embed">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-check2-circle"
            viewbox="0 0 16 16"
          >
            <path
              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
            ></path>
            <path
              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
            ></path>
          </svg>
        </div>
      </a>
    </div>
    <div class="db_problem_card_task">
      <div>
        <p class="task-name">
          Finish all UI components
        </p>
      </div>
      <div>
        <div class="task-end">
          Time: 2 weeks
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-95">
    <div class="db_problem_card_hourglass_trigger">
      <a href="#" class="purplelinkwrapper w-inline-block">
        <div class="html-embed-13 w-embed">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-play-circle"
            viewbox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            ></path>
            <path
              d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"
            ></path>
          </svg>
        </div>
      </a>
    </div>
    <div class="tagwrapper">
      <a href="#" class="tag_base notify__tag grey__tag w-button">
        Nov 1 2020
      </a>
      <a href="#" class="tag_base notify__tag redtag w-button">
        Important
      </a>
    </div>
    <div class="donewrapper">
      <div class="w-embed">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-circle"
          viewbox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="optionswrapper">
      <a href="#" class="linkiconwrapper w-inline-block">
        <div class="w-embed">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-three-dots-vertical"
            viewbox="0 0 16 16"
          >
            <path
              d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
            ></path>
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>