<link rel="stylesheet" type="text/css" href="/public/styles/pages/dashboard/taskList.css" ></link>
  <div class="db_card_header problemheader">
    <div class="db_problem_card_header">
      <div class="db_problem_card_headwrap">
        <h1 class="problem-problem">
          Current Problem
        </h1>
      </div>
      <div class="db_problem_card_headtextwrap">
        <p class="problem-problem">
          How do we focus on what is really important? What if I want to add things to my tasks, like how I thought about the problem, and so on?
        </p>
      </div>
      <div class="db_problem_card_headwrap lastrow">
        <a href="#" class="db_problem_card_linkwrap w-inline-block">
          <div class="db_problem_card_tag classic__tag">
            <p class="db_problem_card_target">
              <strong>
                Target
              </strong>
            </p>
            <p class="db_problem_card_end">
              Deadline
            </p>
          </div>
        </a>
        <div class="db_problem_card_taskwrap">
          <p class="db_problem_card_righthead">
            <strong class="problem-progress">
              Tasks Completed
            </strong>
          </p>
          <p class="problem-progressindicator">
            5/12
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="tasks__table__wrapper">
    <div class="tasks__table__header">
      <div class="db_problem_card_tableheader">
        <p class="db_problem_card_tabltext">
          My Master Plan
        </p>
        <p class="paragraph-12">
          Task
        </p>
      </div>
      <div>
        <p>
          Let's get shit doneee - this should be a scroll list
        </p>
      </div>
    </div>

{{> page/dashboard/eachTask}}

{{> page/dashboard/eachTask}}

{{> page/dashboard/eachTask}}

{{> page/dashboard/eachTask}}
  </div>
  <div class="tasks__add__wrap">
    <div class="div-block-14">
      <a href="#" class="addtask w-button">
        trigger_task
      </a>
    </div>
  </div>
