<link rel="stylesheet" type="text/css" href="/public/styles/pages/dashboard/taskProgressCard.css" ></link>
<div class="task__progress__card__wrapper">
  <div class="task_pg_card_header">
    <div class="percentage_wrap">
      <h1 class="task-percent">
        62%
      </h1>
    </div>
    <div class="outoftwelve">
      <div class="problem-progress">
        7/12
      </div>
    </div>
  </div>
  <div class="tp_text_wrap">
    <div class="task-name">
      Finishing UI
    </div>
  </div>
  <div class="tpbottom">
    <div class="tp_pink tp_tag">
      <p class="tp_target">
        <strong>
          Target
        </strong>
      </p>
      <p class="task-end">
        Deadline
      </p>
    </div>
  </div>
</div>