<style>.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f3f7;
}

.o {
  position: relative;
  left: -113px;
  bottom: -425px;
  z-index: 0;
}

.bigwhite {
  position: relative;
  left: -38px;
  top: -289px;
  z-index: 0;
}

.login__orange {
  position: relative;
  top: -643px;
  bottom: -282px;
  z-index: 1;
  margin-left: 250px;
}

.ball__base-2 {
  position: relative;
  z-index: 1;
}

.ball__base-2.white__ball__login {
  top: -780px;
  right: -282px;
}

.image {
  position: absolute;
  left: 27%;
  top: 33%;
  right: 50%;
  bottom: 50%;
  z-index: 5;
}

._404ball {
  position: relative;
  left: 44px;
  top: -267px;
  bottom: 247px;
  z-index: 4;
}

._404orange {
  position: relative;
  left: -374px;
  top: -280px;
  z-index: 3;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-2 {
  position: relative;
  left: -390px;
  bottom: -258px;
  z-index: 1;
}

@media screen and (min-width: 1280px) {
  .wrapper {
    -webkit-perspective: 941px;
    perspective: 941px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  ._404orange {
    -webkit-transform: rotateX(-3deg) rotateY(-54deg) rotateZ(0deg);
    transform: rotateX(-3deg) rotateY(-54deg) rotateZ(0deg);
  }
}

@media screen and (min-width: 1440px) {
  .bigwhite {
    max-width: none;
  }

  .login__orange {
    left: 218px;
    top: -767px;
  }

  .ball__base-2.white__ball__login {
    top: -845px;
    right: -641px;
  }
}

@media screen and (max-width: 991px) {
  .bigwhite {
    left: 157px;
  }

  .login__orange {
    left: 215px;
    top: -931px;
  }

  .ball__base-2.white__ball__login {
    top: -272px;
    right: -525px;
  }

  .image {
    left: auto;
    right: auto;
  }

  .image-2 {
    left: -247px;
  }
}

@media screen and (max-width: 767px) {
  .login__orange {
    left: 43px;
    top: -1076px;
  }

  .ball__base-2.white__ball__login {
    top: -97px;
    right: 39px;
  }

  ._404ball {
    top: -212px;
    bottom: 189px;
  }

  .image-2 {
    left: -101px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-2 {
    width: 200px;
    height: 200px;
    max-height: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#ccc3f0));
    background-image: linear-gradient(180deg, #f7f7f7, #ccc3f0);
  }

  .o {
    position: relative;
    left: -491px;
    bottom: -562px;
    z-index: 1;
  }

  .bigwhite {
    position: relative;
    top: -331px;
    right: -346px;
    bottom: 293px;
    z-index: 0;
    max-width: none;
  }

  .login__orange {
    left: -195px;
    top: -946px;
    bottom: auto;
  }

  .image {
    position: absolute;
    z-index: 5;
  }

  ._404ball {
    position: relative;
    left: -160px;
    top: -255px;
    z-index: 1;
  }

  ._404orange {
    position: relative;
    left: -677px;
    top: 244px;
    bottom: -281px;
    z-index: 3;
  }

  .image-2 {
    position: absolute;
    left: 80px;
    top: 592px;
    bottom: 0px;
    z-index: 4;
  }
}
    </style>
  <div class="wrapper">
      <img
        src="https://www.dropbox.com/s/hymjmsc74u36j7q/Group-506.png?raw=1"
        loading="lazy"
        width="1071"
        sizes="(max-width: 1279px) 100vw, 1071px"
        srcset="
          https://www.dropbox.com/s/hymjmsc74u36j7q/Group-506.png?raw=1  500w,
          https://www.dropbox.com/s/hymjmsc74u36j7q/Group-506.png?raw=1  800w,
          https://www.dropbox.com/s/hymjmsc74u36j7q/Group-506.png?raw=1 1080w,
          https://www.dropbox.com/s/hymjmsc74u36j7q/Group-506.png?raw=1 1296w
        "
        alt=""
        class="bigwhite"
      /><img
        src="https://www.dropbox.com/s/kwpk75bmldww1ec/404-1.png?raw=1"
        loading="lazy"
        sizes="(max-width: 593px) 100vw, 593px"
        srcset="
          https://www.dropbox.com/s/kwpk75bmldww1ec/404-1.png?raw=1 500w,
          https://www.dropbox.com/s/kwpk75bmldww1ec/404-1.png?raw=1 593w
        "
        alt=""
        class="image"
      /><img
        src="https://www.dropbox.com/s/44s6ubpsgu7ofre/Group-540-2.png?raw=1
        loading="lazy"
        alt=""
        class="image-2"
      /><img
        src="https://uploads-ssl.webflow.com/6194ab9c8ee32e7bcd3d8b35/6197e737dabccf85df3c0dd5_Group%20540.png"
        loading="lazy"
        alt=""
        class="_404ball"
      /><img
        src="https://www.dropbox.com/s/qz41tbjmpp5ffc6/Path-564.png?raw=1"
        loading="lazy"
        alt=""
        class="o"
      /><img
        src="https://www.dropbox.com/s/2rj057qyqwoifzs/orangeball.png?raw=1"
        loading="lazy"
        width="284"
        data-w-id="15b831c3-3ac3-10f8-da02-562cb260d538"
        alt=""
        class="_404orange"
      />
    </div>
{{message}}