
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link
              rel="stylesheet"
              type="text/css"
              href="https://dl.dropbox.com/s/hk7c6wqd8cgm8i4/officialstyles.css"
            />
        <link
              rel="stylesheet"
              type="text/css"
              href="https://dl.dropbox.com/s/m3zladrrj6ffzag/basicStyleAndColors.css"
            />
    </head>
    <body>
        <h1>yooo!</h1>
        {{> playground3}}
        {{> page/main/test}}

        {{{body}}}

        {{! Only needs the Handlebars Runtime, because the
        exposed templates are precompiled. }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"   type="text/javascript" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"   type="text/javascript" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-simulate/1.1.1/jquery.simulate.min.js"  type="text/javascript" integrity="sha512-99l4kQHM730187dXruSGULp7g34xamOKXWXHrzz1HuKuKrLg/VBpRTbbI8in5g8lUnzJkchunWlHlHznEbQzAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
        <script>
        (function () {
            var revive    = Handlebars.template,
                templates = Handlebars.templates = Handlebars.templates || {};

          {{#templates}}
            templates['{{{name}}}'] = revive({{{template}}});
          {{/templates}}
        }());
    </script>
    </body>
</html>
