<h1>
  hello from dashboard
</h1>
1. let's begin with a checklist and a couple of tests
2.

<form id="problem_form" class="form" data-type="problem">
  <input type="text" placeholder="problem" name="problem" />

  <input type="submit" name="Add Problem" id="problem_submit_button" />
</form>

<div id="problem_display_wrapper">
</div>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
  integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="/public/js/pages/dashboard/index.js"
  type="text/javascript"
></script>